.contact-icons {
    background-color: #eee;
    padding: 25px 50px;
    border-radius: 3px;
}

a.contact{
    margin: 0 1rem;
    transition: transform 0.2s;
    display: inline-block;
}

a.contact:hover {
    transform: translate(-2px);
}

.youtube-icon {
    color: red;
    border-radius: 3px;
}

.twitter-icon {
    color: blue;
    border-radius: 3px;
}

.discord-icon {
    color: rgb(133, 213, 240);
    border-radius: 3px;
}
