.App {
    font-family: sans-serif;
    text-align: center
}

.contact-icons {
    background-color: #eee;
    padding: 25px 50px;
<<<<<<< HEAD
    border-radius: 3px;
    text-align: center;
=======
    border-radius: 3px
>>>>>>> 40a73b8950114f9a6725bb6a11a24e30f4322cdf
}

a.contac t{
    margin: 0 1rem;
    transition: transform 0.2s;
    display: inline-block
}

a.contact:hover {
    transform: translate(-2px)
}

.youtube-icon {
    color: red
}

.twitter-icon {
    color: blue
}

.discord-icon {
    color: rgb(133, 213, 240)
}
