
* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-image: url("imgs/background.jpeg");
  }

  a {
    color:white;
    text-decoration:none;
  }

  a:hover {
    text-decoration:underline;
  }

  .bg {
    background-image: url("imgs/background.jpeg");
    height: 100%;
    position: relative;
    opacity: 1.0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .credit {
    color:rgb(206, 206, 203);
    position: fixed;
    bottom:0;
    text-align:center;
    margin-bottom:8px;
    width:100%;
  }
  
  .name-wrap {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .name {
    background-color: rgba(0, 0, 0, 0.514);
    color: #fff;
    padding: 20px;
    font-size: 30px;
    letter-spacing: 9px;
    opacity: 0.9;
    border-radius:8px;
    transition:0.5s;
  }
  
  .name:hover {
      background-color: #333
      
  }

  .links {
      display:flex;
      flex-direction: row;
      height:100px;
  }

  .navbar {
    display: flex;
    justify-content: space-beetween;
    align-items: center;
    background-color: #333;
    color: white;
    flex-direction:row;
  }

  .brand-title {
    font-size: 1.5rem;
    margin: .3rem;
  }

  .github {
    padding: 2px;
    border-radius: 20px;
    height:80px;
    width:80px;
  }

  .discord {
    border-radius: 17px;
    width: 80px;
    height: 80px;

  }

  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    
  }

  .navbar-links ul a {
    text-decoration: none;
    color: white;
    padding: 1.0rem;
    display: block;
  }



  .navbar-links li {
    list-style: none;

  }

  .navbar-links li:hover{
    background-color: #666
  }

  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 0.2rem;
    display: block;

  }

  
  navbar-links ul li {
    text-align: center;
  }