body, html {
    height: 100%;
    margin: 0;
    font-family:Nunito, sans-serif;
    color: #777;
  }

  .bg {
    background-image: url("background.jpeg");
    height: 100%;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .name-wrap {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .name {
    background-color: rgba(0, 0, 0, 0.514);
    color: #fff;
    padding: 18px;
    font-size: 35px;
    letter-spacing: 10px;
    opacity: 1;
    border-radius:5px;
    transition:0.1s;
  }
  
  .name:hover {
      background-color: rgba(2, 0, 0, 0.637);
  }

  .links {
      display:flex;
      flex-direction: row;
  }
