body, html {
    height: 100%;
    margin: 0;
    padding: 3;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-image: url("imgs/background.jpeg");
  }

  .bg {
    background-image: url("imgs/background.jpeg");
    height: 100%;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .name-wrap {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .name {
    background-color: rgba(0, 0, 0, 0.514);
    color: #fff;
    padding: 18px;
    font-size: 35px;
    letter-spacing: 10px;
    opacity: 1;
    border-radius:5px;
    transition:0.1s;
  }
  
  .name:hover {
      background-color: rgba(2, 0, 0, 0.637);
  }

  .links {
      display:flex;
      flex-direction: row;
      height:100px;
  }

  .navbar {
    display: flex;
    justify-content: space-beetween;
    align-items: center;
    background-color: #333;
    color: white;
    flex-direction:row;
  }

  .brand-title {
    font-size: 1.0rem;
    margin: .3rem;
  }

  .github {
    height:100px;
    width:100px;
  }

  .discord{
    border-radius: 100;
    width: 100px;
    height: 100px;

  }

  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;
    list-style-type: none;
    float:left;
  }

  .navbar-links ul a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    display: block;
  }

  .navbar-links li:hover{
    background-color: #777
  }